numpy
Pillow
matplotlib
C:\ScriptAdminRoot\Execute\main\Install-dlib-main\dlib-19.22.99-cp310-cp310-win_amd64.whl
cmake
face-recognition
deepface
opencv-python
xlrd
openpyxl
xmltodict
pendulum
prefect
mdutils
pymysql
slugify
holidays
eliot
sqlalchemy
psutil
pyautogui
pyperclip
hvac
pydantic
schema
Levenshtein
ldap
requests