USE CLC_Cesam
GO



IF OBJECT_ID('tempdb.dbo.#Mandati') IS NOT NULL
	DROP TABLE #Mandati
GO

CREATE TABLE #Mandati (
	IdMandato INT PRIMARY KEY CLUSTERED
   ,IdDossier INT
)

;
WITH Elenco
AS
(SELECT
		22781545 IdIncarico
	   ,986984 Dossier
UNION
SELECT
		23003133 IdIncarico
	   ,1320220 Dossier
UNION
SELECT
		23003134 IdIncarico
	   ,1320220 Dossier),

Dossier
AS
(SELECT
		*
	FROM Elenco
	JOIN dbo.T_Dossier
		ON CAST(REPLACE(dbo.T_Dossier.NumeroDossier, 'D', 0) AS INT) = Elenco.Dossier
	WHERE LEFT(dbo.T_Dossier.NumeroDossier, 1) = 'D')

--VISTO CHE SI SPACCA CONTROLLO COSA STA ESTRAENDO LA CTE DOSSIER
--SELECT * FROM Dossier

--CI SONO DUE PROBLEMI:
--DOSSIER 986984 CI SONO DUE NUMERI DOSSIER DIVERSI MA CONCETTUALMENTE IDENTICI PERCHE' LA D E GLI 0 NON SI CONSIDERANO (D000986984 E D00986984)
--ESISTONO DEI DOSSIER DUPLICATI (D001320220)

-- d0001234
-- d001234

--BONIFICO IL DOSSIER DOPPIO
--EXEC orga.CESAM_AZ_BonificaDossierDoppi @NumeroMandato = ''
--									   ,@NumeroDossier = 'D001320220'

--MODIFICO IL DOSSIER D00986984 IN D000986984
--UPDATE dbo.T_Dossier
--SET NumeroDossier = 'D000986984'
--WHERE dbo.T_Dossier.IdDossier = 253862

--BONIFICO IL DOSSIER DOPPIO
--EXEC orga.CESAM_AZ_BonificaDossierDoppi @NumeroMandato = ''
--									   ,@NumeroDossier = 'D000986984'

INSERT INTO #Mandati (IdMandato, IdDossier)
	SELECT
		dbo.T_Mandato.IdMandato
	   ,Dossier.IdDossier
	FROM Dossier
	JOIN dbo.T_R_Incarico_Mandato
		ON Dossier.IdIncarico = dbo.T_R_Incarico_Mandato.IdIncarico
	JOIN dbo.T_Mandato
		ON dbo.T_R_Incarico_Mandato.IdMandato = dbo.T_Mandato.IdMandato
	JOIN dbo.T_Dossier
		ON dbo.T_Mandato.IdDossier = dbo.T_Dossier.IdDossier

BEGIN TRY
	BEGIN TRANSACTION
	UPDATE dbo.T_Mandato
	SET IdDossier = #Mandati.IdDossier
	--SELECT *
	FROM dbo.T_Mandato
	JOIN #Mandati
		ON dbo.T_Mandato.IdMandato = #Mandati.IdMandato
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	PRINT
	'Error ' + CONVERT(VARCHAR(50), ERROR_NUMBER()) +
	', Severity ' + CONVERT(VARCHAR(5), ERROR_SEVERITY()) +
	', State ' + CONVERT(VARCHAR(5), ERROR_STATE()) +
	', Line ' + CONVERT(VARCHAR(5), ERROR_LINE())

	PRINT ERROR_MESSAGE();

	IF XACT_STATE() <> 0
	BEGIN
		ROLLBACK TRANSACTION
	END
END CATCH;





